@font-face {
  font-family: "iconfont"; /* Project id 3728712 */
  src: url('iconfont.woff2?t=1672045247626') format('woff2'),
       url('iconfont.woff?t=1672045247626') format('woff'),
       url('iconfont.ttf?t=1672045247626') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-jianhao:before {
  content: "\e604";
}

.icon-jiahao:before {
  content: "\e605";
}

.icon-jianhao1:before {
  content: "\e64f";
}

.icon-yuanjiaoshizijiahao1:before {
  content: "\e657";
}

.icon-menu_js_szqx:before {
  content: "\e728";
}

.icon-banbengengxin:before {
  content: "\e71e";
}

.icon-xiaoxi:before {
  content: "\e71f";
}

.icon-geren:before {
  content: "\e720";
}

.icon-shouji2:before {
  content: "\e721";
}

.icon-shouye:before {
  content: "\e722";
}

.icon-zitishezhi-shuangse:before {
  content: "\e723";
}

.icon-Rrl_s_064:before {
  content: "\e724";
}

.icon-kehufankui:before {
  content: "\e726";
}

.icon-bianji:before {
  content: "\e727";
}

.icon-arrowdown:before {
  content: "\e6a4";
}

.icon-arrowup:before {
  content: "\e6b4";
}

