.region {
  margin-top: 10px;
  background-color: #fff;
}
.region .van-cell__title {
  flex: 0.5;
  color: #000;
}
.region .van-cell__value input {
  color: #cccccc;
}
.region .inputRegion {
  align-items: center;
}
.region .inputRegion .van-cell__title span {
  display: inline-block;
  margin-top: 5px;
}
.region .inputRegion .van-cell__value input {
  padding: 5px;
  border: 1px solid #e0e0e0;
}
.region .textRight {
  align-items: center;
}
.region .textRight .van-cell__value.van-field__value input {
  text-align: right;
}
.selectButton {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 45px;
  padding: 0 10px 0 16px;
  background-color: #fff;
}
.selectButton .title {
  display: flex;
  align-items: center;
  color: #000;
  font-size: 14px;
}
.selectButton .button .van-button {
  width: 90px;
  height: 35px;
  padding: 5px;
  font-size: 13px;
}
body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
form,
fieldset,
legend,
textarea,
button,
p,
blockquote,
th,
td {
  margin: 0;
  padding: 0;
}
body {
  text-align: center;
  font-family: Helvetica Neue, Helvetica, Arial, Microsoft Yahei, Hiragino Sans GB, Heiti SC, WenQuanYi Micro Hei, sans-serif;
  font-family: PingFangSC-Medium, PingFang SC, Microsoft Yahei;
}
html,
body {
  width: 100%;
  /* 全屏显示的页面必须要给 html,body设置高度100% */
  height: 100%;
}
ul,
ol,
li {
  list-style: none;
}
a {
  text-decoration: none;
}
input,
button,
img {
  border: none;
  vertical-align: middle;
  outline: 0;
}
